
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/png">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <script>
        function openUploadForm() {
            document.getElementById('uploadFormModal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        function closeUploadForm() {
            document.getElementById('uploadFormModal').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="header">
        <div style="display: flex; align-items: center; justify-content: center; ">
            <img src="{{ url_for('static', filename='icon.png') }}" alt="Signup Image" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 15px;">
            <h1>Welcome, {{ username }}!</h1>
        </div>
        <div class="navbar">
            <a href="{{ url_for('dashboard') }}" class="navbar-btn">Home</a>
            <a href="{{ url_for('profile') }}" class="navbar-btn">Profile</a>
            <a href="{{ url_for('logout') }}" class="navbar-btn">Logout</a>
        </div>
    </div>
<div class="posts">
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['_id']) }}" class="post-link">
            <div class="post" style="width: 600px; height: 575px;">
                <h2>{{ post['uploader'] }}</h2>

                {% if post['type'] == 'photo' %}
                    <img src="{{ url_for('static', filename=post['content']) }}" alt="{{ post['title'] }}" style= "width: 400px; height: 350px;">
                {% elif post['type'] == 'video' %}
                    <video controls>
                        <source src="{{ url_for('static', filename=post['content']) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% elif post['type'] == 'text' %}
                    <p>{{ post['content'] }}</p>
                {% endif %}

                <h3>{{ post['title'] }}</h3>
                
                <div class="reactions" >
                    <form action="{{ url_for('react_to_post', post_id=post['_id']) }}" method="post">
                        <input type="hidden" name="reaction" value="like">
                        {#{% comment %} <button type="submit" {% if 'like' in post['reactions'][session.username] %}disabled{% endif %}>
                            ❤️{{ post['likes'] }} 
                        </button> {% endcomment %}#}
                        <button type="submit" style=" background: none; cursor: pointer; 
                        font-size: 1.5em;" {% if 'like' in post['reactions'][session.username] %}disabled{% endif %}>
                            {% if 'like' in post['reactions'][session.username] %}
                                ❤️{{ post['likes']  }} Like
                            {% else %}
                                ❤️{{ post['likes'] }} Like
                            {% endif %}
                        </button>
                        
                    </form>
                    {#<form action="{{ url_for('react_to_post', post_id=post['_id']) }}" method="post">
                        <input type="hidden" name="reaction" value="dislike">
                        <button type="submit" {% if 'dislike' in post['reactions'][session.username] %}disabled{% endif %}>
                            {{ post['dislikes'] }} Dislikes
                        </button>
                    </form>#}
                </div>
                <div class="actions" style="align-items: center; justify-content: center; ">
                    {#<a href="{{ url_for('post', post_id=post['_id']) }}">Comments</a>#} {# this is for comments in jinja 2#}
                    {% if post['user'] == username %}
                        <form action="{{ url_for('delete_post', post_id=post['_id']) }}" method="post">
                            <button type="submit" style="font-size: .75em; padding: 10px 20px; border-radius: 5px;">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
</div>


<div class="upload-button">
    <button onclick="openUploadForm()">+</button>
</div>

<div class="upload-form-modal" id="uploadFormModal">
    <h2>Upload New Post</h2>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" style="width: 560px;">
        <input type="file" name="photo" accept="image/*">
        <button type="submit">Upload</button>
    </form>
    <button onclick="closeUploadForm()">Close</button>
</div>



<div class="overlay" id="overlay" onclick="closeUploadForm()"></div>

</body>
</html>
